@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Poppins:wght@400;500;600;700&family=Rubik+Mono+One&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root {
    --main-color: #040714;
    --site-color: #fff;
    --active-color: #968ec3;
    --first-color: #08132f;
    --second-color: #090b13;
    --new-color: #FFD700;
}
body{
    background-color: var(--site-color);
    color: var(--main-color);
    font-family: 'Rubik Mono One', sans-serif; 
}

.max-width{
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
}
/*inicio do menu*/
.navbar .logo a{
    color: var(--active-color) ;
    font-size: 40px;
    font-weight: 500;
} 

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20p 0;
    font-family: 'Rubik Mono One', sans-serif;
    background-color: var(--site-color);
    border-bottom:solid #1b202a 1px ;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;   
}
.navbar .menu li a{
    display: block;
    color: var(--main-color);   
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
}
.menu-btn {
    color: var(--main-color);
    font-size: 23px;
    cursor: pointer;
    display: none;
}
@media (max-width: 947px){
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .navbar .menu {
        background-color: var(--site-color);
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding: 80px;
        transition: all 0.3s ease;
    }
    #menu-site.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;
    }
}
/*final do menu*/

/*inicio do topo*/
section {
    padding: 50px 0;
}
@media(max-width: 690px){
    section{
        padding: 20px 0;
    }
}
.top {
    color: var(--site-color);
    display: flex;
    background: linear-gradient(to right, var(--main-color) 10%, rgb(224, 225, 255,0 )),url("../images/banner.jpg") no-repeat center;
    height: 100vh;
    min-height: 500px;
    /* background-size especifica o tamanho das imagens de fundo o cover faz com que ocupe todo o espaço */
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Rubik Mono One', sans-serif;
    /* background: url("../images/banner.jpg") no-repeat center;*/
}
.top .max-width{
    width: 100%;
    display: flex;
}

.top .top-content .text-1{
    font-size: 25px;
}
.top .top-content .text-2{
    font-size: 55px;
    font-weight: 400;
    margin-left: -3px;
}
.top .top-content .text-3{
    font-size: 32px;
    margin: 5px 0;
}
.top .top-content a{
    display: inline-block;
    background-color: var(--active-color);
    color: var(--site-color);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 5px;
    border: 2px solid var(--active-color);
    transition: all 0.5s ease;
}

.top .top-content a:hover {
    color: var(--active-color);
    background: none;
}
/*estilizando a parte de serviços*/
.servicos{
    color: var(--main-color);
    background-color: var(--site-color);
    font-family: 'Bungee Shade',sans-serif;
}
.servicos .titulo{
    text-align: center;
    margin: 40px 0;
    font-weight: 400;
    font-size: 35px;
}

.servicos .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Bungee Shade', sans-serif;
}
.servicos .serv-content .card{
width: calc(33% - 20px) ;
background-color: var(--new-color);
text-align: center;
border-radius: 5px;
padding: 50px 25px;
cursor: pointer;
transition: all 0.5s ease;
margin-bottom: 20px;
}
.servicos .serv-content .card .text{
    font-family: 'Bungee Shade', sans-serif;
}
.servicos .serv-content p{
    font-family: 'Ubuntu', sans-serif;
}
/*Altera a cor de fundo do cartao quando passa o mouse*/
.servicos .serv-content .card:hover{
   background-color: rgb(224, 225, 255,0 ); 
}
.servicos .serv-content .card i{
    font-size: 50px;
    color: var(--main-color);
    transition: all 0.5s ease;
}
.servicos .serv-content .card:hover i{
    color: var(--main-color);
}
.servicos .serv-content .card .box{
    transition: all 0.5s ease;
}
.servicos .serv-content .card:hover .box{
    transform: scale(1.05);
}
.servicos .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
@media (max-width: 947px){
    .servicos .serv-content .card{
        width: calc(50% - 10px);
        height: 300px;
        margin-bottom: 20px;
    }
}
@media (max-width: 690px){
    .servicos .serv-content .card{
        width: 100%;
    }
}
/*final da seção servicos*/

/*inicio da seção servico premium*/

/*atrinuindo a cor do texto, cor de fundo e font a section premium*/
.premium{
    color: var(--main-color);
    background: var(--site-color);
    font-family: 'Poppins', sans-serif;
}
/*estilizando o titulo da section premium*/
.premium .titulo{
    text-align: center;
    margin: 50px 0;
    font-weight: 400;
    font-size: 35px;
    font-family: 'Bungee Shade', sans-serif;
}
/*tornando o conteudo flexivel*/
.premium .premium-conteudo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.premium .premium-conteudo .esquerda{
    width: 45%;
}

.premium .premium-conteudo .esquerda img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
}
.premium .premium-conteudo .direita{
    width: 55%;
}
.premium .premium-conteudo .direita .text{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Rubik Mono One', sans-serif; 
}
.premium .premium-conteudo .direita p{
    text-align: justify;
}
.premium .premium-conteudo .direita a{
    display: inline-block;
    background: var(--active-color);
    color: var(--site-color);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid var(--active-color);
}
.premium .premium-conteudo .direita a:hover{
    color: var(--active-color);
    background: none;
}
@media (max-width: 1104px){
    .premium .premium-conteudo .esquerda img{
        width: 350px;
        height:350px ;
    }
}
@media (max-width: 947px){
    .premium .premium-conteudo .coluna{
        width: 100%;
    }
    .premium .premium-conteudo .esquerda{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .premium .premium-conteudo .direita{
        flex: 100% ;
    }
}
/*final do conteudo premium*/

/*inicio do rodape*/
footer{
    background-color: var(--second-color);
    padding: 25px 23px;
    color: var(--site-color);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
footer span a{
    color: var(--active-color);
}
footer span a:hover{
    color: var(--site-color);
}
/*final do footer*/

/*inicio da pagina sobre a obra*/

.sobre {
    color: var(--main-color);
    background: var(--site-color);
    font-family: 'Poppins', sans-serif;
}
.sobre .titulo{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 35px;
    padding-top: 50px;
    font-family: 'Bungee Shade', sans-serif ;
}
.sobre .sobre-conteudo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    background: var(--active-color);
    border-radius: 5px;
    padding: 30px;
}
.sobre .sobre-conteudo .esquerda{
    width: 40%;
}
.sobre .sobre-conteudo .esquerda img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 40%;
}
.sobre .sobre-conteudo .direita{
    width: 60%;
}
.sobre .sobre-conteudo .direita .text{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--site-color);
    font-family: 'Rubik Mono One', sans-serif;
    
}
.sobre .sobre-conteudo .direita p{
    text-align: justify;
    color: var(--site-color);
}
@media(max-width:1104px){
    .sobre .sobre-conteudo .esquerda img{
        width: 300px;
        height: 300px;
        border-radius: 40%;
    }
    .sobre .sobre-conteudo .direita{
        padding-left: 10px;
    }
}
@media (max-width:947px){
    .sobre .sobre-conteudo .coluna {
        width: 100%;
    }
    .sobre .sobre-conteudo .esquerda{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .sobre .sobre-conteudo .direita{
        flex: 100%;
        padding-left: 0;
    }
}
@media(max-width:670px){
    .sobre .titulo{
        margin-top: 30px;
    }
}

/*final da pagina sobre empresa*/

/*inicio da pagina resenha*/
.resenha{
    color: var(--main-color);
    background: var(--site-color);
    font-family: 'Poppins', sans-serif;
}
/*estilizando o titulo da section resenha*/
.resenha .nome{
    text-align: center;
    margin: 50px 0;
    font-weight: 400;
    font-size: 35px;
    font-family: 'Bungee Shade', sans-serif;
}
.resenha .conteud{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Bungee Shade', sans-serif;
}
.resenha .conteud .resun{
width: calc(50% - 30px) ;
background-color: var(--active-color);
text-align: center;
border-radius: 1px;
padding: 25px 25px;
cursor: pointer;
transition: all 0.5s ease;
margin-bottom: 20px;
}
.resenha .conteud .resun .texto{
    font-family: 'Bungee Shade', sans-serif;
}
.resenha .conteud p{
    font-family: 'Ubuntu', sans-serif;
}
/*Altera a cor de fundo do cartao quando passa o mouse*/
.resenha .conteud .resun:hover{
    background-color: rgb(224, 225, 255,0 ); 
 }
 .resenha .conteud .resun i{
     font-size: 50px;
     color: var(--main-color);
     transition: all 1.0s ease;
 }
 .resenha .conteud .resun:hover i{
     color: var(--main-color);
 }
 .resenha .conteud .resun .caixa{
     transition: all 0.5s ease;
 }
 .resenha .conteud .resun:hover .caixa{
     transform: scale(1.05);
 }
 .resenha .conteud .resun .texto{
     font-size: 25px;
     font-weight: 500;
     margin: 10px 0 7px 0;
 }
 @media (max-width: 947px){
    .resenha .serv-content .resun{
        width: calc(50% - 20px);
        height: 300px;
        margin-bottom: 20px;
    }
}
@media (max-width: 690px){
    .resenha .conteud .resun{
        width: 100%;
    }
}
